allow system_server wifi_data_file:lnk_file { read write };
allow system_server vibeamp_sysfs:dir search;
allow system_server vibeamp_sysfs:file rw_file_perms;
